<div class="container">
  <h1>New Project</h1>
  <%= link_to 'Back', :back, :class => "btn btn-outline-dark"%>
  <hr/>
  <%= form_with scope: :project, url: project_index_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, :required => true %>
    </p>

    <p>
      <%= form.label :creator %><br>
      <%= form.text_field :creator, value: current_user.firstname + ' ' + current_user.lastname, disabled: true %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
